:root {
    --overlay: #A8C9DF;
}

/*-----------------------------------*\
 * #RESET 
\*-----------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
a { text-decoration: none; color: #000000;}
  
li { list-style: none; }
  
button {
    color: inherit;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
  
button,
img,
input,
a,
span,
ion-icon { display: block; }
  
input {
    font: inherit;
    border: none;
}
  
html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
  
button, a, input, [tabindex] { outline-offset: 4px; }

body { 
    min-width: 280px;
}  

  /*
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track {
    background: var(--rich-black-fogra-39);
    border-left: 1px solid var(--onyx-1);
  }
  
  ::-webkit-scrollbar-thumb { background: var(--golden-puppy); }
  
  ::-webkit-scrollbar-thumb:hover { --golden-puppy: hsl(47, 100%, 40%); }
  
  ::-webkit-scrollbar-button { height: 5px; }
  */

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(-80deg, #ffcbe4, #ff5cab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #ffffff;
    z-index: 2;
    transition: 0.5s;
}

/*.showcase.active {
    right: 300px;
}*/

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-family: 'Mitr', sans-serif;
    cursor: none;

    background: linear-gradient(-80deg, #ffffff, #ffffff, #ff5cab, #ff5cab);
    background: -webkit-linear-gradient(-80deg, #ffffff, #ffffff, #ff5cab, #ff5cab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 100px;

    display: flex;
    column-gap: 10px;
}

.login {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    transition: 0.25s;
}

.login:hover {
    background: rgba(0, 0, 0, 0.05);
    color: #fff;
}

.btn-primary {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    transition: 0.25s;
}

.btn-primary:hover {
    background: rgba(0, 0, 0, 0.05);
    color: #fff;
}

/*.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('/assets/sources/menu.png');
    background-repeat: no-repeat;
    background-size: 40px; 
    background-position: center;
    cursor: pointer;
    filter: invert(1);
}

.toggle.active {
    background: url('/assets/sources/close.png');
    background-repeat: no-repeat;
    background-size: 35px; 
    background-position: center;
    left: 300px;
    filter: invert(1);
}*/

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    cursor: none;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;

    background: linear-gradient(-80deg, #ffffff, #ffffff, #ff5cab, #ff5cab);
    background: -webkit-linear-gradient(-80deg, #ffffff, #ffffff, #ff5cab, #ff5cab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;

    background: linear-gradient(-80deg, #ffffff, #ffffff, #ff5cab, #ff5cab);
    background: -webkit-linear-gradient(-80deg, #ffffff, #ffffff, #ff5cab, #ff5cab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;

}

.social li a:hover {
    filter: invert(0);
    transform: scale(0.5) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
}

.menu ul li a {
    font-size: 24px;
    color: #111;
    transition: 0.15s;
}

.menu ul li a:hover {
    background: linear-gradient(180deg, #ffcbe4, #ffcbe4, #ff5cab, #ff5cab);
    background: -webkit-linear-gradient(180deg, #ffcbe4, #ffcbe4, #ff5cab, #ff5cab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 1.5s ease-in-out infinite;
    -moz-animation: animated_text 1.5s ease-in-out infinite;
    -webkit-animation: animated_text 1.5s ease-in-out infinite;

    transform: scale(1.5);
}

.footer {
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 10px 100px;
}

.footer p {
    background: linear-gradient(-80deg, #ffffff, #ffffff, #000000, #000000);
    background: -webkit-linear-gradient(-80deg, #ffffff, #ffffff, #000000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
} 

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
} 

/*-----------------------------------*\
 * #FONTS
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-----------------------------------*\
 * #MEDIA QUERY
\*-----------------------------------*/

@media (max-width: 456px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .logo {
        font-size: 6vw;
    }

    .button {
        width: 100%;
        height: 70vh;

        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .btn-primary {
        font-size: 4vw;
    }

    .login {
        font-size: 4vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .text p {
        font-size: 3.7vw;
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        font-size: 4vw;
        padding: 5px 10px;
    }

}