:root {
    --overlay: #A8C9DF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; color: #fff; }

li { list-style: none; }

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #090909;
    color: #fff;
}

/*-----------------------------------*\
 * #NAVIGATION
\*-----------------------------------*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
    mix-blend-mode: overlay;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 35px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2327;
    padding-block: 15px;
}

.logo {
    font-size: 25px;
    font-family: 'Mitr', sans-serif;
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;

    text-transform: uppercase;
    font-weight: 700;
}

.list li a {
    transition: all .25s ease;
}

.list li a:hover {
    color: #f7ff00;
}

.menu {
    z-index: 1000;
}

#toggler,
.navbar label {
    display: none;
}

/*-----------------------------------*\
 * #MAIN
\*-----------------------------------*/

.main {
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: 70vh;

    padding: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h3 {
    font-size: 2em;
    text-transform: uppercase;
}

.text p {
    font-weight: 500;
}

.button {
    padding: 20px 0 0 0;
}

.btn-primary {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #f7ff00;
}

/*-----------------------------------*\
 * #SOCIAL
\*-----------------------------------*/

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    filter: invert(0);
    transform: scale(0.5) translateY(-15px);
}

/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer {
    width: 100%;
    height: 60px;
    background: #090909;

    position: absolute;
    bottom: 0;
    left: 0;
}

.footer .text {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer .text p {
    font-weight: 550;
    text-transform: uppercase;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
} 

/*-----------------------------------*\
 * #MOBILE
\*-----------------------------------*/

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        font-size: 30px;
        filter: invert(0);
    }
    #toggler:checked ~ .menu {
        max-height: 100%;
    }

    .social {
        position: absolute;
        left: 0;

        width: 100%;
        display: flex;
        justify-content: center;
    }
}